@import "styles/mixins/media-queries";

:host {
	justify-content: start;
}

.content-container {
	display: flex;
	flex-direction: row;
	width: 1128px;
	margin: 40px auto 0;

	@include media-xl {
		justify-content: center;
		width: auto;
		margin-top: 0;
	}
}

app-all-posts, .post-divider {
	margin: 0 12px;
}

.post-divider {
	padding-top: 8px;
}
