.title-container,
.subtitle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.title-container {

	&__text {
		font-size: 36px;
		font-weight: 700;
	}

	&__icon {
		font-size: 44px;
	}
}

.subtitle-container {
	margin-left: 16px;
	margin-right: 16px;
	font-size: 30px;
	text-align: center;
}
