/* Popover */
.avatar-popover {
	--width: 300px;
	--background: none;
	--box-shadow: none;
	margin-top: 16px;
}

/* Divider */
.item-divider {
	border-bottom: 1px solid var(--ion-color-light-tint);
}

/* Start Post Modal */
.start-post-modal {
	--width: 552px;
	--height: 400px;
	margin-top: -100px;

	ion-grid {
		margin: 0;
		padding-bottom: 0;
	}

	ion-textarea {
		--padding-top: 0;
	}
}

/* Auth */
.auth {

	form {
		max-width: 400px;
		margin: auto;

		ion-card {
			padding: 24px;
			box-shadow: none;
			border: 1px solid #e1e1e1;
		}

		ion-button {
			height: 48px;
			margin-top: 16px
		}
	}

	&__navigate-link {
		display: flex;
		justify-content: center;
		align-items: center;

		ion-text {
			margin-left: 4px;
			font-weight: 500;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
